* {
    font-family: Roboto, sans-serif;
}

.small-text {
    font-size: 0.8em;
}

.color-correct {
    color: green;
}

.color-incorrect {
    color: red;
}

#challenge {
    font-size: 1.25em;
    font-weight: bold;

    padding: 0.75em;
    border-radius: 5px;

}

#typer-container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    padding: 2%;
    background-color: rgba(0,0,0,0.05);

    position: relative;
    border-radius: 16px;
}

#retry-container {
    /* background-color: blue; */
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    box-shadow: 0 15px 20px rgba(0,0,0,0.19);
}

#typer-container {
    max-width: 600px;
}

#title-link, #title-link:visited, #title-link:hover, #title-link:active {
    color: var(--bs-light-rgb);
    text-decoration: none !important;
}

#highscore-quote {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.75em;
}