* {
    font-family: Roboto, sans-serif;
}

.small-text {
    font-size: 0.8em;
}

.color-correct {
    color: green;
}

.color-incorrect {
    color: red;
}

#challenge {
    font-size: 2em;
    font-weight: bold;
}