* {
    font-family: Roboto, sans-serif;
}

.small-text {
    font-size: 0.8em;
}

.color-correct {
    color: green;
}

.color-incorrect {
    color: red;
}

#challenge {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #DDD;
    padding: 0.75em;
    border-radius: 5px;
}
