<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opentypist</title>

    <th:block layout:fragment="includes"></th:block>
</head>
<body>
    <th:block th:replace="fragments/general.html :: header"></th:block>
    <main class="bg-light container-fluid vh-100 d-flex align-items-center justify-content-center">
        <div id="load-container" class="w-50 d-flex justify-content-center">
            <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
        <div id="typer-container" class="w-50 d-none">
            <div id="challenge" class="mb-3"></div>
            <input type="text" class="w-100" id="typer" autofocus>
            <div id="stats" class="mt-2 text-muted text-center small-text">0 wpm</div>
            <div id="retry-container">
                <div class="w-100 h-100 d-flex flex-column align-items-center p-5">
                    <button id="retry" type="button" class="btn btn-secondary w-50">Retry</button>
                    <input id="result_url" type="text" class="w-50">
                    <button id="copy-button" class="btn btn-primary w-50"><i class="fas fa-copy"></i></button>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/general.html :: footer"></th:block>

    <th:block layout:fragment="script"></th:block>
</body>
</html>
